@model GilbertMusicStore.ViewModels.GuitarViewModel

@{
    ViewBag.Title = "Details";
}

@Html.ActionLink("Гитары", "Index", "Store") >>
@Html.ActionLink("Акустические гитары", "Index", "Store") >>
@Html.ActionLink("Гитары", "Index", "Store")

<div id="guitarModelName">
	<h1>@Html.DisplayFor(modelItem => Model.Guitar.Model)</h1>
</div>
<div id="guitarDescription">
	@Html.DisplayFor(modelItem => Model.Description)
</div>
@*<div id="guitarMainImage">
	<img src="@Model.Guitar.LargeMainImageUrl" alt="@Model.Guitar.Model" />
</div>*@
<p class="button">
	@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.Guitar.Id })
</p>

<table class="guitarDescriptionTable">
	<tbody>
		<tr>
			<td class="tdButton">
				<div class="button sel" id="description">
					<span>Описание</span>
				</div>
			</td>
			<td class="tdButton">
				<div class="button" id="reviews">
					<span>Отзывы</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div class="descriptionContent">

</div>