@model IEnumerable<GilbertMusicStore.ViewModels.GuitarViewModel>
@{
	ViewBag.Title = "Index";
}
<h2>
	Index</h2>
<table>
	<tr>
		<th>
		</th>
		<th>
			Название
		</th>
		<th>
			Наличие
		</th>
		<th>
			Цена
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<img alt="@item.Guitar.Model" src="@item.Guitar.SmallMainImageUrl" />
			</td>
			<td>
				<div>
					<strong>@Html.ActionLink(item.Guitar.Model, "Details", new { id = item.Guitar.Id })</strong>
					<br />
					@Html.DisplayFor(modelItem => item.Description)
				</div>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Count)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Guitar.Price)
			</td>
		</tr>
	}
</table>
