@model IEnumerable<GilbertMusicStore.Models.Guitar>
@{
	ViewBag.Title = "Index";
}
<h2>
	Index</h2>
<table>
	<tr>
		<th>
		</th>
		<th>
			Название
		</th>
		<th>
			Наличие
		</th>
		<th>
			Цена
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<img alt="@item.Model" src="@item.SmallMainImageUrl" />
			</td>
			<td>
				<div>
					<strong>@Html.ActionLink(item.Model, "Details", "Store", new { id = item.Id })</strong>
				</div>
				@Html.DisplayFor(modelItem => item.Manufacturer.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
		</tr>
	}
</table>
