@model IEnumerable<GilbertMusicStore.Models.SemiAcousticGuitar>

@{
    ViewBag.Title = "Полуакустические гитары";
}

<h2>Полуакустические гитары</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
	<tr>
		<th>
			Бренд
		</th>
		<th>
			Серия
		</th>
		<th>
			Модель
		</th>
		<th>
			Страна
		</th>
		<th>
			Цвет
		</th>
		<th>
			Цена
		</th>
        <th>
        </th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Brand.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Series)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Model)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Manufacturer.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Color.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}
</table>

