@{
	ViewBag.Title = "Админка";
}
<h2>
	Админка
</h2>
<p>
    @Html.ActionLink("Акустические гитары", "Index", "AcousticGuitar")
	<br />
	@Html.ActionLink("Полу-акустические гитары", "Index", "semiAcousticGuitar")
	<br />
	@Html.ActionLink("Электро-гитары", "Index", "ElectricGuitar")
    <br />
    @Html.ActionLink("Новости", "Index", "NewsAdmin")
</p>

@*
@model IEnumerable<GilbertMusicStore.Models.Guitar>
@{
	ViewBag.Title = "Index";
}
<h2>
	Index</h2>
<p>
	@Html.ActionLink("Добавить новую акустическую гитару", "CreateAcousticGuitar")
	<br />
	@Html.ActionLink("Добавить новую полу-акустическую гитару", "CreateSemiAcousticGuitar")
	<br />
	@Html.ActionLink("Добавить новую электро-гитару", "CreateElectricGuitar")
</p>
<table>
	<tr>
		<th>
			Бренд
		</th>
		<th>
			Серия
		</th>
		<th>
			Модель
		</th>
		<th>
			Страна
		</th>
		<th>
			Цвет
		</th>
		<th>
			Цена
		</th>
		<th>
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Brand.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Series)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Model)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Manufacturer.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Color.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				<p class="button">
					@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.Id }, "");
				</p>
			</td>
		</tr>
	}
</table>
*@